<form action="/fibbaaah" method="get" accept-charset="utf-8">

  <label for="size">size</label>
  <input type="text" name="size" value="16" id="size">

  <label for="buffer">buffer</label>
  <input type="text" name="buffer" value="0" id="buffer">

  <p><input type="submit" value="Continue &rarr;"></p>
</form>
